    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(225, 244, 225, 0.655); /* Set background to transparent */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(101, 80, 80, 0.801);
        border-radius: 10px;
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-content a {
        color: black; /* Set default text color */
        text-decoration: none;
        background-color: transparent;
        font-size: 20px; /* Set text size to 16px */
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        display: block;
        padding: 10px 16px; /* Add padding top and bottom */
        transition: background-color 0.3s; /* Add transition effect */
    }

    .dropdown-content a:hover {
        background-color: #e1f69473; /* Light gray shade on hover */
        padding-inline-start: 10px;
        border-radius: 15px; /* Rounded edges */
    }

    .nav-item:hover .dropdown-content {
        display: block;
    }